/*CSS variables!*/
:root {
    --headings-and-bg: #4aaaa5;
    --regular-font: #777777;
    --head-and-cont-bg: #ffffff;
    --header-bord: #cccccc;
    --footer-bg: #666666;
    --cont-border: #dddddd;
    --heading-font: 'Georgia', Times, 'Times New Roman', serif;
    --all-other-font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0%;
    padding: 0%;
}

.navbar {
    display: grid;
    grid-template-columns: .5fr 5fr 14fr 5fr .5fr;
    background-color: var(--head-and-cont-bg);
    border-bottom-style: solid;
    border-color: var(--header-bord);
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.top_name {
    display: flex;
    justify-content: center;
    background-color: var(--headings-and-bg);
    padding: 5% 0% 5% 0%;
    color: var(--head-and-cont-bg);
    font-size: 2rem;
    font-family: var(--heading-font);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.butport {
    margin: 0% 7% 0% 7%;
    /* border-left-style: solid;
    border-right-style: solid;
    border-color: var(--header-bord);
    border-radius: 10%;
    border-width: .2rem; */
}

.navbutton {
    border-left: .2rem solid var(--head-and-cont-bg);
    border-right: .2rem solid var(--head-and-cont-bg);
    border-radius: 10%;
    padding: 2%;
    transition: 0.3s all ease;
}

.butind:hover, .butport:hover, .butcon:hover {
    border-left: .2rem solid var(--header-bord);
    border-right: .2rem solid var(--header-bord);
    border-radius: 10%;
    padding: 2%
}

a {
    text-decoration: none;
    font-family: var(--all-other-font);
    color: var(--regular-font);
}

.primary_background_index, .primary_background_contact, .primary_background_portfolio {
    background-image: url(../images/old-paper-with-partial-paisly-design.jpg);
    background-size: cover;
    background-origin: 0;
    margin: 0%;
    width: 98%;
}

.primary_background_index{
    padding: 2% 0% 9% 2%;
}

.primary_background_contact {
    padding: 2% 0% 11.5% 2%;
}

.primary_background_portfolio {
    padding: 2% 0% 2% 2%;
}

.primary_content_index, .primary_content_contact, .primary_content_portfolio {
    background-color: var(--head-and-cont-bg);
    border-style: solid;
    border-color: var(--cont-border);
}

.primary_content_index {
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding-bottom: .2%;
    width: 40%;
}

.primary_content_contact {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    width: 40%;
}

.primary_content_portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 40%;
    align-items: center;
    justify-items: center;
}

.teal_font {
    justify-self: start;
    display: grid;
    grid-column: 1 / -1;
    font-family: var(--heading-font);
    color: var(--headings-and-bg);
    border-bottom: .2rem solid var(--cont-border);
    padding: 3% 0% 3% 0%;
    margin: 0% 3% 0% 3%;
    width: 94%;
}

.img_ban {
    padding-top: 3%;
}

.link_img {
    max-width: 250px;
}

.banner {
    position: relative;
    top: -95px;
    text-align: center;
    background-color: var(--headings-and-bg);
    color: var(--head-and-cont-bg);
    font-family: var(--head-and-cont-bg);
    padding: 3% 0% 3% 0%;
}

.professional_photo {
    float: left;
    margin: 2% 3% 3% 3%;
}

p {
    margin: 2% 3% 3% 3%;
}

.contact_form {
    display: grid;
    grid-template-rows: repeat(6, auto);
    margin: 2% 3% 3% 3%;
}

#contactName, #contactEmail {
    width: 50%;
}

#contactMessage {
    height: 100px;
}

.contact_button {
    width: 25%;
    margin: 3%;
}

.texture_link {
    text-decoration: none;
    color: var(--head-and-cont-bg);
    font-size: .7rem;
}

.copyright {
    text-align: center;
    background-color: var(--footer-bg);
    border-top-style: solid;
    border-top-color: var(--headings-and-bg);
    border-top-width: 3%;
    color: var(--head-and-cont-bg);
    font-family: var(--all-other-font);
    padding: 2% 0% 2% 0%;
    margin: 0%
}

@media screen and (max-width:1400px) {
    .primary_content_portfolio {
        width: 60%;
    }
}

@media screen and (max-width: 980px) {
    .top_name {
        font-size: 1.5rem;
    }
    .primary_content_index, .primary_content_contact {
        width: 50%;
    }
    .primary_content_index {
        padding-bottom: 11%;
    }
    .primary_content_portfolio {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        display: grid;
        grid-template-columns: 15px 275px auto 250px 15px;
    }
    .primary_content_index, .primary_content_contact {
        width: 95%;
    }
    .primary_content_portfolio {
        width: 95%;
    }
}
    
@media screen and (max-width: 640px) {
    .navbar {
        display: grid;
        grid-template-columns: auto;
    }
    .navbuttonp {
        margin: 0% 3% 0% 3%;
        padding: 3% 0% 3% 0%;
    }
    .primary_content_contact {
        height: 65%;
    }
    .primary_content_portfolio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 95%;
    }
    .link_img {
        max-width: 95%;
    }
    .banner{
        max-width: 95%;
    }
}
